{% extends 'my_todo_application\base.html' %}

{% block content %}


    <div class="mt-5 p-5">
        <h3 class = "mb-3 mt-3 text-center ">Welcome @{{ user.username }} </h3>
        <div class="hr-dark">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="deep-orange text-white" scope="col">Task Name</th>
                            <th class="deep-orange text-white" scope="col">Task Status</th>
                            <th class="deep-orange text-white" scope="col">Date Due</th>

                        </tr>
                    </thead>
                            <tbody>
                            {% for task in tasks %}
                                {% if user.username == task.user.username %}
                                    <tr>
                                        <td><a href="{% url 'task-detail' task.id %}">{{ task.task_name }}</a></td>
                                        <td>{{ task.task_status }}</td>
                                        <td>{{ task.due_date|date:"F d, Y" }}</td>

                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                </table>
                <a href="{% url 'task-create' %}"><button class=" btn btn-info btn-sm">Add New Task</button></a>
            </div>
        </div>
    </div>

{% endblock content %}