{% extends 'my_todo_application/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "border mt-5 p-3 content-section">
    <form method="POST">
        {% csrf_token %}
        <legend class="border-bottom">Create a New Task</legend>
        <fieldset class=""form-group>
            {{ form|crispy }}
        </fieldset>

        <div class="form-group mt-2 mr-0 ml-0">
            <button class="btn btn-sm btn-outline-success" type="submit">Create</button>
        </div>
    </form>

</div>

{% endblock content%}